@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    .bg-gradient { background: var(--gradient) }
    --gradient: linear-gradient(to top left,#00F5A0,#00D9F5);

    --background: 169 65% 3.84%;
    --foreground: 169 10% 97.4%;
    --card: 169 45% 6.24%;
    --card-foreground: 169 10% 97.4%;
    --popover: 169 45% 6.24%;
    --popover-foreground: 169 10% 97.4%;
    --primary: 169 100% 48%;
    --primary-foreground: 169 10% 4.8%;
    --secondary: 169 50% 14.399999999999999%;
    --secondary-foreground: 169 10% 97.4%;
    --muted: 169 50% 14.399999999999999%;
    --muted-foreground: 169 10% 54.8%;
    --accent: 169 50% 14.399999999999999%;
    --accent-foreground: 169 10% 97.4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 10% 97.4%;
    --border: 169 50% 14.399999999999999%;
    --input: 169 50% 14.399999999999999%;
    --ring: 169 100% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
